<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myServerLabel">Create or edit a Server</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!server.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="server.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_serverName">Server Name</label>
            <input type="text" class="form-control" name="serverName" id="field_serverName"
                [(ngModel)]="server.serverName" required />
            <div [hidden]="!(editForm.controls.serverName?.dirty && editForm.controls.serverName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.serverName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_uri">Uri</label>
            <input type="text" class="form-control" name="uri" id="field_uri"
                [(ngModel)]="server.uri" required />
            <div [hidden]="!(editForm.controls.uri?.dirty && editForm.controls.uri?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.uri?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_certificateHash">Certificate Hash</label>
            <input type="text" class="form-control" name="certificateHash" id="field_certificateHash"
                [(ngModel)]="server.certificateHash"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
