
<div *ngIf="server">
    <h2><span>Server</span> {{server.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Server Name</span></dt>
        <dd>
            <span>{{server.serverName}}</span>
        </dd>
        <dt><span>Uri</span></dt>
        <dd>
            <span>{{server.uri}}</span>
        </dd>
        <dt><span>Certificate Hash</span></dt>
        <dd>
            <span>{{server.certificateHash}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'server/'+ server.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
